<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-5">
          <label for="currency1">Currency 1:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="currency1" value="1.00">
          </div>
        </div>
        <div class="col-sm-2 mt-4 text-center">
          <span class="fa fa-exchange fa-2x"></span>
        </div>
        <div class="col-sm-5">
          <label for="currency2">Currency 2:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="currency2" value="">
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <script>
      // Set up event listeners for the input fields
      $('#currency1, #currency2').on('input', function() {
        // Get the values of the input fields
        var currency1Val = $('#currency1').val();
        var currency2Val = $('#currency2').val();
        
        // Check which field triggered the event
        if ($(this).attr('id') === 'currency1') {
          // Convert from currency 1 to currency 2
          var convertedVal = currency1Val * 2; // Replace 2 with the exchange rate
          $('#currency2').val(convertedVal.toFixed(2));
        } else {
          // Convert from currency 2 to currency 1
          var convertedVal = currency2Val / 2; // Replace 2 with the exchange rate
          $('#currency1').val(convertedVal.toFixed(2));
        }
      });
    </script>
  </body>
</html>
