body {
  background-position: center;
}

/* //button styling start */
.justify-content-center.m-2 fieldset {
  padding-top: 3%;
  width: 100%;
  display: flex;
}
.btn-primary {
  width: 48%;
  margin: 1%;
}
.btn-success {
  color: #fff;
  width: 48%;
  margin: 1%;
}


/* //button styling end  */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -200px;
    width: 200px;
    background: #b861ffe3;
    transition: left 0.3s ease-out;
    color: #fff;
    z-index: 999;
}
/*//avatar*/
.avatar {
    margin-right: 10%;
    width: 16%;
}
.avatar > img {
    width: 100%;
    border-radius: 50%;
}
/*end avatar*/

.sidebar.open {
  left: 0;
  overflow: scroll;
}
button:focus {
    outline: none !important;
}
.avatar {
    margin-right: 10%;
}
.sidebar-toggle {
  position: absolute;
  top: 15px;
  /* right: 5px; */
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 0;
}
.list-group-item {
  border: none;
  margin: 5px 0px;
  border-radius: 0px !important;
}

.list-group-item a {
  display: block;
  color: #333;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.dropdown .dropdown-toggle::after {
  display: none;
}

.dropdown .dropdown-menu {
  background-color: #f9f9f9;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown-item {
  color: #333;
}

.dropdown .dropdown-item:hover {
  background-color: #f5f5f5;
}
.text-light.bg-primary {
  color: #f8f9fa!important;
  background-image: url(../purple.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*//old page header css*/
/*header*/
.justify-content-center > i, .justify-content-center > a > i {
    border-radius: 15px;
    padding: 18%;
    font-size: 2.5pc;
    color: #fff;
    margin: 0;
    width: 90%;
}
/* .fixed-top {
    position: sticky !important;
} */
.justify-content-center:nth-child(2) > i{
    background: #FFCBCD;
}
.justify-content-center:nth-child(4) > i{
    background: #CF83DA;
}
.col-3.align-items-center.justify-content-center {
    padding: 0 !important;
}
.d-flex.justify-content-right {
  justify-content: flex-end;
  margin-top: 2%;
  padding-right: 2%;
}
.links {
    padding-bottom: 2%;
    text-align: center;
}
.transaction {
    padding-bottom: 2%;
}
.top-left {
    padding-left: 0;
    padding-top: 5px;
}
.top-right {
    padding-right: 0;
}
header.d-flex.align-items-center.bg-light {
    padding-top: 2%;
}
.top-left span {
    font-size: 14px;
    text-transform: capitalize;
    color: #8b8484;
}
.top-left p {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}
header {
    top: -100px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: top 0.5s ease;
}

.fixed-top {
    background-color: #fff !important;
    top: 0;
}
.top-right > img {
    vertical-align: middle;
    border-style: none;
    padding: 5%;
    border-radius: 20px;
}
.links .justify-content-center p{
    font-size: 12px;
    font-weight: 700;
}

/*//all css*/
.links .justify-content-center p{
    font-size: 12px;
    font-weight: 700;
}

.news {
  padding: 20px;
  margin: 15px 0px;
  border-radius: 20px;
  height: 94%;
  color: #fff;
}

.stories {
  margin-bottom: 20px;
  cursor: alias !important;
  width: 100%;
}

.stories:last-child {
  margin-bottom: 0px;
}

.stories:hover {
  /* background-color: #1d3676; */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.new-story {
  font-size: 20px;
  font-weight: 500;
}

.new-story i {
  color: #007bff;
  margin-right: 10px;
}

.new-story span {
  font-size: 12px;
  color: #828282;
}

.new-story p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.justify-content-right span {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links a {
    color: #333;
    text-decoration: none;
}

.links i {
    transition: all 0.3s ease-in-out;
}

.links a:hover i {
    transform: scale(1.2);
}

.links p {
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.links a:hover p {
    transform: translateY(-20px);
}
.btn-bg-gradient-x-purple-blue {
  background: #ffc107 !important;
  color: #000;
  box-shadow: none !important;
}
@keyframes AnimatedBackground {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
@media (max-width: 766px) {
  .home-div-bottom-space {
      margin-bottom: 3% !important;
  }
  .container-fluid.col-md-6 {
      padding: 0px 10px;
      margin: 0% 1.5%;
  }
  .avatar {
      padding-top: 5%;
  }
  .bell-icon {
      padding-top: 8% !important;
      position: relative;
  }
  span#notify_count {
      right: -16px;
  }
  
}
.bell-icon {
  padding-top: 2%;
  position: relative;
  margin-right: 10px;
}
.col-12.d-flex.align-items-center > p {
    text-align: center;
    width: 100%;
}
.card-body > h2, .news.bg-main > h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}
.banner {
  background-image: url(../purple.png);
  padding: 4%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-img-light {
  background-image: url(../5.jpg);
}
.banner-img-dark {
  background-image: url(../purple.png);
}
.mid-banner {
  text-align: center;
  font-size: 22px;
  font-family: monospace;
  padding: 4%;
}
.top-banner {
    text-transform: uppercase;
    font-size: 14px;
    font-family: math;
}
.bottom-banner.row {
    text-align: left;
    width: 100%;
    padding-top: 4%;
    margin-left: 0px;
    font-size: 15px;
    font-weight: 700;
}

/* //customer support fixed icon css start */

.support-icon {
  position: fixed;
  bottom: 6px;
  right: 20px;
  text-align: center;
  z-index: 999;
}
span.head-set-title {
  color: #007bff;
  font-size: 11px;
  font-weight: 700;
}
.support-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffc107;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
}
.support-main:hover {
  transform: scale(1.0);
  cursor: pointer;
}
.support-main i {
  color: #fff;
}
.support-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 70px;
  bottom: 85px;
  width: 60px;
  height: auto;
  border-radius: 8px;
  background-color: #b861ffe3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding-top: 12%;
}
.support-icon.active .support-sub {
  opacity: 1;
  visibility: visible;
  right: 2px;
}
.support-sub a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #007bff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
}
.support-sub > a > .fa-2x {
  font-size: 1.5em !important;
}
.support-sub a:hover {
  transform: scale(1.1);
}
.support-sub i {
  color: #fff;
}
span#notify_count {
  position: absolute;
  top: 0px;
  background: red;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 10px;
  text-align: center;
}
header#header {
  padding-top: 2%;
}
i.fas.fa-bars {
  font-size: 27px;
  color: hsl(273deg 100% 69%);
}
i.fas.fa-bell {
  font-size: 27px;
}

/* //customer support fixed icon css end */